<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OAuth authz server</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-6">
        <h1>Create client</h1>
        <form action="/developers/tester/clients" method="POST">
          <div class="form-group">
            <label for="input-redirect_uri">Reidrect URI</label>
            <input name="redirect_uri" type="text" class="form-control" id="input-redirect_uri"
              placeholder="http://localhost">
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>